.navbar{
    padding-left: 290px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,hsla(98, 39%, 70%, 0.621), #58789c8e);
    font-family: Arial, Helvetica, sans-serif;
  }

#intro{
    margin-left: 290px;
    margin-bottom: 5px;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 121, 63);
    font-style: oblique;
    animation-name: fontshing;
  animation-duration: 8s;
  animation-iteration-count: infinite;

}

 @keyframes fontshing {
    0%   {color: rgba(163, 158, 21, 0.911);}
    25%  {color: rgba(76, 177, 184, 0.929);}
    50%  {color: rgba(87, 120, 34, 0.847);}
    100% {color: #319480da;}
  } 


#mainpart{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,2fr);
    gap:10px;
    height:900px;
    width:60%;
    margin:auto;
    border-radius: 10px;
}

#inputboxes{
    position: relative;
    width:250px;
    height: 750px;
    /* border:solid black;  */
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

#searchcontainer{
    position: relative;
    width:625px;
    height:750px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.inputbox{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: white;

}

#checkbox{
    margin-top: 30px;
}

#inputinfo{
    border:solid gainsboro;
    width:210px;
    margin-left: 20px; 
    margin-top: 30px;
    height:450px;
    background-color: white;
}

h3{
position: absolute;
   top: 0;
  
        
}

fieldset{
    margin:auto;
    border-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 87, 87);
  border-style: solid;
}

.searchbox{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

#Authorsearch{
    margin-left: 10px;
}

#btnsearch{
    height:20px;
    margin-left: 10px;
}

#categorysearch{
    margin-bottom: 30px;
}

#webcomments{
    margin-top: 10px;
    width:200px;
    height: 150px;
    overflow: auto;
}

#weblabel{
    margin-top: 20px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 87, 87);
}

#webbtn{
    margin-top: 5px;
    margin-left: 50px;
    width:100px;
}

#totalbooks{
    height:900px;
    width:850px;
    margin:auto;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}


#bookscontainer{
    width:800px;
    height:800px;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2,2fr);
    grid-template-rows: repeat(2,2fr);
    gap: 5px;
    overflow: auto;

}

.ul{
    list-style: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 87, 87);

}

.li{
    list-style: none;
    font-size: large;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 87, 87);
    

}
#comli{
    text-align: center;
    list-style: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 87, 87);
}

.singlebook{
    position: relative;
    width: 300px;
    height: 400px;
    border:solid gainsboro; 
    margin: auto;
    overflow: auto;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding: center;
    animation-name: colorchange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes colorchange {
    0%   {background-color: rgba(16, 142, 83, 0.856);}
    25%  {background-color: rgba(27, 156, 165, 0.763);}
    50%  {background-color: rgba(228, 222, 34, 0.92);}
    100% {background-color: #6575a6ef;}
  }

#bookcomments{
    width:200px;
    height: 150px;
    margin-top: 10px;
}

#btncancel{
    margin-left: 70px;
    /* background-image:url(delete\ button.png); */
    background-position: center center;
    background-size: 100% 100%;
}

#btncancel2{
    margin-left: 70px;
    /* background-image:url(delete\ button.png); */
    background-position: center center;
    background-size: 100% 100%;
}


#btnsearchpage{
    margin-left: 10px;
    height:20px;
}

#btnsearchcat{
    margin-left: 25px;
    height:20px;
}

#bookcount {text-align: center;
}

#bookmarkcount{
    text-align: center
}

#searchoutput{
    height: 530px;
    width: 600px;
    border: solid gainsboro;
    overflow:auto;
    margin-left: 10px;
    margin-top: 10px;
}

#mainbox{
    text-align: center;
    margin: auto;
    border: solid black;
    width: 60%;
    height:900px;
    background-color: white;
    padding: center;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(88, 87, 87);
}

#Marked{
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(88, 87, 87);
}

#reviewbox{
    height:400px;
    width:850px;
    margin:auto;
    margin-top: 40px;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
   
}

#reviews{
    margin-left: 30px;
    font-size: x-large;
    font-style: inherit;
    animation-name: fontshing;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.bookintro{
    animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-color: white;
    margin:auto;
    text-align: center;
    font-size: larger;
    color: rgb(88, 87, 87);
    width:800px;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.material-symbols-outlined{
    font-size: medium;
    border: gray;
    
}
